@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?7kkyc2');
  src: url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('../fonts/icomoon.woff?7kkyc2') format('woff'),
    url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fr .icomoon {
  font-family: 'icomoon';
  font-size: 16px;
  line-height: 26px;
}

/*中央容器*/
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/*浮动*/
.fl {
  float: left;
}

.fr {
  float: right;
}

/*字体红色*/
.style-red {
  color: #c81623;
}

/*竖线*/
.spacer {
  width: 1px;
  height: 12px;
  margin: 9px 6px 0px;
  border-right: 1px solid #666;
}

/*加粗*/
#strong {
  border-right: 1.5px solid #666;
}

/*顶部导航*/
.shortcut {
  position: relative;
  top: 0;
  width: 100%;
  height: 31px;
  line-height: 31px;
  background: #f1f1f1;

}

.shortcut ul {
  height: 31px;
}

.shortcut ul li {
  display: inline-block;
  line-height: 31px;
  color: #666
}

/*头部logo、搜索、购物车*/

.header .wrapper {
  height: 105px;
  line-height: 105px;
  position: relative;
  /* background: #f00; */
}

h1 {
  position: absolute;
  top: 20px;
}

.logo h1 a {
  text-indent: -9999px;
  overflow: hidden;
  font-size: 0;
  display: inline-block;
  width: 175px;
  height: 56px;
  background: url(../images/logo.png) no-repeat
}

/* 搜索栏 */
.search {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -225px;
}

.search input {
  width: 445px;
  height: 32px;
  padding-left: 10px;
  border: 2px solid rgb(177, 25, 026);
  color: #ccc;
}

.search button {
  width: 82px;
  height: 36px;
  background: rgb(177, 25, 026);
  border: 2px solid rgb(177, 25, 026);
  color: #fff;
  margin-left: -5px;
}




/* 热点词 */
.hotwords {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -215px;
  width: 550px;
  height: 28px;
  line-height: 28px;
}

.hotwords a {
  display: inline-block;
  margin-right: 20px;
}

/* 购物车 */
.header .shopcar {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: 10%;
  font-size: 12px;
  line-height: 34px;
  text-align: center;
  font-family: 'icomoon';
  
}

.header .shopcar a {
  display: inline-block;
  height: 34px;
  border: 1px solid #dfdfdf;
  background: #f7f7f7;
  padding: 0 15px;
}

.header .shopcar .count {
  position: absolute;
  top: 0;


}

/* nav */
.nav {
  border-bottom: 2px #b1191a solid;
  height: 45px;
}

.nav .dt {
  width: 209px;
  height: 45px;
  font-size: 16px;
  color: #fff;
  background-color: #b1191a;
  text-align: center;
  line-height: 45px;
}

.navitems ul li {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  margin: 0 25px;
  font-size: 16px;

}

/* fixed */
.fixedtool {
  position: fixed;
  top: 100px;
  left: 90px;
}

.fixedtool li {
  width: 66px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-bottom: 1px solid #ccc;
  background-color: #fff
}

.fixedtool ul li:first-child {
  background-color: #c81623;
  color: #fff
}

/* foot */
.fotter {
  background-color: #f5f5ff;
  height: 390px;
  padding-top: 30px;
}

.fotter .mod_service {
  border-bottom: 1px solid #ccc;
  height: 79px;
}

.fotter li {
  width: 240px;
  height: 79px;
  float: left;
}

.fotter .mod_service_zheng {
  background: url(../images/icons.png) no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 35px;
  float: left;
}

.fotter .mod_service_tit h5 {
  margin: 5px 0;
}

.fotter .mod_help {
  height: 190px;
  border-bottom: 1px solid #ccc
}

.fotter .mod_help dl {
  padding: 20px 0 0 50px;
  width: 150px;
}

.fotter .mod_help dt {
  font-size: 16px;
  height: 25px;
}

.fotter .mod_help dd {
  height: 22px;
}

.fotter .mod_app {
  text-align: center;
}

.fotter .mod_app dl {
  text-align: center;
  padding-left: 0px;
  padding-right: 20px;
}

.fotter .mod_app .img {
  height: 94px;
  margin: 5px 0;
}

.fotter .mod_copyright {
  text-align: center;
}

.fotter .mod_copyright_links {
  margin: 20px 0 15px 0
}